* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: local('Bebas Neue Book Regular'), local('BebasNeueBook'), url('../fonts/BebasNeueBook.woff2') format('woff2'), url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding: 12px 0;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.navbar-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.navbar-item {
    margin: 0 40px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
}

.navbar-contacts {
    text-align: right;
    color: #fff;
}

.navbar-text {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.navbar-phone {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    color: #fff;
}

.main {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    text-align: center;
}

.home-image path {
    opacity: 0;
}

.home-image path:hover {
    opacity: 1;
    cursor: pointer;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.counter-arrow-down {
    transform: rotate(180deg);
}

.main-title {
    font-family: 'Bebas Neue Book', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 37px;
    color: #635834;
    margin: 0;
}

.counter {
    font-family: 'Bebas Neue Book', sans-serif;
    font-weight: 700;
    color: #635854;
    font-size: 124px;
    margin-top: 10px;
}

.button-primary {
    background: #3596F5;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
}