@font-face {
    font-family: 'Bebas Neue Book';
    src: local('Bebas Neue Book Regular'), local('BebasNeueBook'),
        url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

